
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h6 class="black-text"> Grupo 70I-DESARROLLO APLICACIONES WEB</h6>
                <p class="grey-text text-lighten-4">Misión TIC 2022: <br>
                MinTIC - Gobierno de Colombia<br>
                Universidad de Caldas </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h6 class="black-text">Enlaces:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.misiontic2022.gov.co/portal/">Misión TIC 2022 - MinTIC</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://misiontic.ucaldas.edu.co/">Misión TIC 2022 - UCaldas</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/79155637/FrontEndPedidosG70I">Repositorio Fron End - Pedidos </a></li>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/79155637/LoopBackPedidosBackEndG70I">Repositorio Back End - Pedidos</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2022 Derechos de Autor
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>
            
